#profile {
  /* border: 2px solid red; */
  width: 50%;
  margin: 0 auto;
  /* margin-top: 0.5rem; */
}
#profileCover {
  border: 1px solid black;
  height: 25vh;
}
#coverBottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#coverBottom div {
  /* border: 1px solid red; */
}
#dp {
  z-index: 2;
  border-radius: 50px;
  border: 5px solid white;
  position: relative;
  top: -80px;
  left: 20px;
  width: 100px;
  height: 100px;
}
img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
#profileUsername {
  font-size: 2rem;
  position: relative;
  top: -40px;
  right: -10px;
  margin-right: 25rem;
}
#editProfile {
  font-weight: 500;
  background-color: black;
  color: white;
  height: 3vh;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  top: -40px;
  right: 10px;
  cursor: pointer;
}
#timeline {
  position: relative;
  top: -110px;
  background-color: black;
  height: 5vh;
  color: white;
}
#timeline div {
  margin: 0 auto;
  width: 70%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
